
.vs/Auto clicker/v16/TestStore/0/000.testlog
.vs/Auto clicker/v16/TestStore/0/testlog.manifest
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
.vs/Auto-clicker/v16/.suo
.vs/Auto-clicker/v16/TestStore/0/000.testlog
.vs/Auto-clicker/v16/TestStore/0/testlog.manifest
.vs/slnx.sqlite
obj/Debug/Auto clicker.csprojAssemblyReference.cache
obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/Auto clicker.csprojAssemblyReference.cache
*.cache
.vs/VSWorkspaceState.json
obj/Debug/Auto clicker.csprojAssemblyReference.cache
obj/Debug
